body{
     background-image: url(oreo-gif.gif);
     background-repeat: no-repeat; 
     background-position: 50% 50%;
     font-size: 100px;
     color: blue;
     background-size: 1550px;
     
    
  
  
}

